body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to top, orange 0%, tomato 100%)fixed;
}
div {
    background-color: white;
    margin: 100px 300px 100px 300px;
    text-align: center;
    padding: 30px;
    box-shadow: 4px 4px 4px grey;
}
/* Type Selector */
img{
    height: 150px;
    width: 150px;
    border: 3px solid orange;
    border-radius: 50%;
}
hr {
    width: 400px;
    color: silver;
}
h1 {
    text-shadow: 2px 2px 4px orangered;
}